{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('ecole_show', {'ecole_id': article.perso.promo|first.ecole.id}) }}">{{ article.perso.promo|first.ecole.nom }}</a></li>
        <li><a href="{{ path('promo_show', {'promo_id': article.perso.promo|first.id}) }}">{{ article.perso.promo|first.nom }}</a></li>
        <li><a href="{{ path('perso_show', {'perso_id': article.perso.id}) }}">{{ article.perso.prenom }} {{ article.perso.nom }}</a></li>
    </ul>
    <h1>Articleperso</h1>

    <table>
        <tbody>
            <tr>
                <th>Auteur</th>
                <td>{{ article.auteur }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ article.createdAt|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            {% if article.type == "java" %}
                <tr>
                    <th>Code</th>
                    <td>
                        <div id="editor" style="height: 600px; width: 800px;">{{ article.texte }}</div>
                    </td>
                </tr>






                <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
                <script>
                    var editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.getSession().setMode("ace/mode/java");

                    editor.setReadOnly(true);  // false to make it editable


                </script>


            {% else %}
            <tr>
                <th>Texte</th>
                <td>{{ article.texte }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Srcfeature</th>
                <td>{{ article.srcFeature }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('perso_show', {"perso_id" : perso.id}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articleperso_edit', {'article_perso_id': article.id, 'perso_id': perso.id}) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('articleperso_delete', {'article_perso_id': article.id, 'perso_id': perso.id}) }}">Supprimer</a>
        </li>

    </ul>

    <table>
        <tr>
            <th>Posté le :</th>
            <th>par :</th>
            <th>Commentaire</th>
            <th>Action</th>
        </tr>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
        {% for commentaire in article.commentaires %}
            <tr>
                <td>{{ commentaire.createdAt|date('d-m-Y H:m') }}</td>
                <td>{{ commentaire.auteur }}</td>
                <td>{{ commentaire.texte }}</td>
                <td>
                    <a href="{{ path('commentairearticleperso_edit', {'article_id': article.id, 'commentaire_article_perso_id': commentaire.id, 'perso_id': perso.id}) }}">Editer</a>
                    <a href="{{ path('commentairearticleperso_delete', {'article_id': article.id, 'commentaire_article_perso_id': commentaire.id, 'perso_id': perso.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
