{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleperso</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ article.createdAt }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ article.texte }}</td>
            </tr>
            <tr>
                <th>Srcfeature</th>
                <td>{{ article.srcFeature }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('perso_show', {"id" : perso.id}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articleperso_edit', {'article_id': article.id, 'id': perso.id}) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('articleperso_delete', {'article_id': article.id, 'id': perso.id}) }}">Supprimer</a>
        </li>

    </ul>
{% endblock %}
