{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleecoles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Srcfeature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articleEcole in articleEcoles %}
            <tr>
                <td><a href="{{ path('articleecole_show', { 'id': articleEcole.id }) }}">{{ articleEcole.id }}</a></td>
                <td>{{ articleEcole.createdAt|date("d/m/Y H:m:s") }}</td>
                <td>{{ articleEcole.titre }}</td>
                <td>{{ articleEcole.texte }}</td>
                <td>{{ articleEcole.srcFeature }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('articleecole_show', { 'id': articleEcole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('articleecole_edit', { 'id': articleEcole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articleecole_new') }}">Create a new articleEcole</a>
        </li>
    </ul>
{% endblock %}
