{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleecole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articleEcole.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ articleEcole.createdAt|date("d/m/Y H:m:s") }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ articleEcole.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ articleEcole.texte }}</td>
            </tr>
            <tr>
                <th>Srcfeature</th>
                <td>{{ articleEcole.srcFeature }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecole_show',{'id': ecole.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articleecole_edit', { 'article_id': articleEcole.id, 'ecole_id': ecole.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('articleecole_delete', { 'article_id': articleEcole.id, 'id': ecole.id}) }}">Supprimer</a>
        </li>

    </ul>
{% endblock %}
