{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleecole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articleEcole.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ articleEcole.createdAt|date("d/m/Y H:m:s") }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ articleEcole.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ articleEcole.texte }}</td>
            </tr>
            <tr>
                <th>Srcfeature</th>
                <td>{{ articleEcole.srcFeature }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articleecole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articleecole_edit', { 'id': articleEcole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
