{% extends 'base.html.twig' %}

{% block body %}
    <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
            type="text/javascript"
            charset="utf-8">

    </script>
    <ul>
        <li><a href="{{ path('ecole_show', {'ecole_id': promo.ecole.id}) }}">{{ promo.ecole.nom }}</a></li>
    </ul>
    <h1>Promo</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ promo.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ promo.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ promo.description }}</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_STAFF') %}
        <ul>
            <li><a href="{{ path('add_article_promo', {'promo_id': promo.id}) }}">Ecrire un article</a></li>
            <li><a href="{{ path('add_code_promo', {'promo_id': promo.id}) }}">Poster du code</a></li>

        </ul>
    {% endif %}
    <table>
        <tr>
            <th>Titre</th>
            <th>Crée</th>
            <th>Texte</th>
        </tr>
        {% for article_promo in promo.articles_promo %}
            <tr>
                <td>
                    <a href="{{ path('article_promo_show', {'promo_id': promo.id,'article_promo_id': article_promo.id}) }}">{{ article_promo.titre }}</a>
                </td>
                <td>{{ article_promo.createdAt|date("d/m/Y") }}</td>
                {% if article_promo.type != 'article' %}
                    <td>

                        <div id="editor{{ loop.index }}" style="width: 500px; height: 100px">{{ article_promo.texte }}</div>
                    </td>
                    <script>

                        var editor{{ loop.index }} = ace.edit("editor{{ loop.index }}");
                        editor{{ loop.index }}.setTheme("ace/theme/monokai");
                        editor{{ loop.index }}.getSession().setMode("ace/mode/{{ article_promo.type }}");
                        editor{{ loop.index }}.setReadOnly(true);  // false to make it editable

                    </script>


                {% else %}
                    <td>{{ article_promo.texte|raccourci }}</td>
                {% endif %}
            </tr>

        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('ecole_show', {'ecole_id': ecole.id}) }}">Back to the list</a>
        </li>

    </ul>

    <table>
        <tr>
            <th>Etudiants dans la promo</th>
        </tr>
        {% for perso in promo.persos %}
            <tr>
                <td>{% if perso.avatar != null %}
                    <img src="{{ vich_uploader_asset(perso,'avatar')|imagine_filter('avatar_mini') }}"/>
                        {% else %}
                        <img src="{{ asset('images/perso/avatar/chaton.jpg')|imagine_filter('avatar_mini') }}"/>
                    {% endif %}
                    <a href="{{ path('perso_show', {'perso_id': perso.id}) }}">{{ perso.prenom }} {{ perso.nom }}</a>
                </td>

            </tr>
        {% endfor %}
    </table>


{% endblock %}
