{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('ecole_show', {'ecole_id': promo.ecole.id}) }}">{{ promo.ecole.nom }}</a></li>
    </ul>
    <h1>Promo</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ promo.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ promo.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ promo.description }}</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_STAFF') %}
        <ul>
            <a href="{{ path('add_article_promo', {'promo_id': promo.id}) }}">Ecrire un article</a>
        </ul>
    {% endif %}
    <table>
        <tr>
            <th>Titre</th>
            <th>Crée</th>
            <th>Texte</th>
        </tr>
        {% for article_promo in promo.articles_promo %}
            <tr>
                <td>
                    <a href="{{ path('article_promo_show', {'promo_id': promo.id,'article_promo_id': article_promo.id}) }}">{{ article_promo.titre }}</a>
                </td>
                <td>{{ article_promo.createdAt|date("d/m/Y") }}</td>
                <td>{{ article_promo.texte|raccourci }}</td>
            </tr>

        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('ecole_show', {'ecole_id': ecole.id}) }}">Back to the list</a>
        </li>

    </ul>

    <table>
        <tr>
            <th>Etudiants dans la promo</th>
        </tr>
        {% for perso in promo.persos %}
            <tr>
                <td><a href="{{ path('perso_show', {'perso_id': perso.id}) }}">{{ perso.prenom }} {{ perso.nom }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
