{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promo.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ promo.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ promo.description }}</td>
            </tr>
        </tbody>
    </table>
        {% for article in articles %}
    <ul>
        <li>
            <a href="{{ path('promo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('promo_edit', { 'id': promo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
