{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #editor {
            height: 500px;

        }

    </style>

{% endblock %}
{% block link %}

{% endblock %}

{% block body %}
<script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
        type="text/javascript"
        charset="utf-8">

</script>

<div id="page-container" class="header-fixed-top" style="width: 100%">

    <!-- Main Container -->
    <div id="main-container" style="margin-left: 0px">
        <!-- Header -->
        <header class="navbar navbar-inverse navbar-fixed-top">

            <ul class="nav navbar-nav-custom pull-right">
                <!-- Search Form -->
                {% include 'login_menu.html.twig' %}
                <!-- END Search Form -->
            </ul>
            <!-- END Left Header Navigation -->
        </header>
        <!-- END Header -->
        <!-- Social Net Header -->
        <div class="content-header content-header-media" style="min-height: 320px;">
            <div class="widget">
                <div class="widget-content themed-background-social text-right clearfix">
                    <a href="javascript:void(0)" class="pull-left">
                        <img src="{{ asset('images/perso/avatar/chaton.jpg')|imagine_filter('avatar_image2') }}"
                             alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar-2x">
                    </a>
                    <h3 class="widget-heading text-light">{{ app.user.prenom }} {{ app.user.nom }}</h3>
                    <h4 class="widget-heading text-light-op">{{ app.user.promo.first }}</h4>
                </div>
                <div class="widget-content themed-background-muted text-center">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-danger"
                           style="overflow: hidden; position: relative;"><i class="fa fa-share"></i> Follow</a>
                        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-danger"
                           style="overflow: hidden; position: relative;"><i class="fa fa-suitcase"></i> Projects</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget col-xs-offset-3 col-xs-6">
            <div class="widget-title">
                <h2>Création de Code</h2>
            </div>
            {{ form_start(form, {'attr':{'class':'form-horizontal form-bordered', 'enctype':'multipart/form-data'}}) }}
            <div class="form-group col-xs-12">
                <div class="form-group">
                    {{ form_row(form.titre, {'attr':{'class':'form-control col-md-6','name':'titre'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.texte, {'attr':{'class':'form-control col-md-6','name':'texte'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.type, {'attr':{'class':'form-control col-md-6','name':'type'}}) }}
                </div>
                <div id="editor">
                    function foo(items) {
                    var x = "All this is syntax highlighted";
                    return x;
                </div>
                <div class="form-actions">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-effect-ripple btn-primary">Submit
                        </button>
                    </div>
                </div>
                <div class="block-options pull-right">
                    <a href="{{ path('perso_show', {'perso_id': app.user.id}) }}"
                       class="btn btn-effect-ripple btn-default toggle-bordered enable-tooltip"
                       data-toggle="button" title="Revenir a la liste des articles">Back to list</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>


        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript"
                    charset="utf-8"></script>
            <script>
                $(document).ready(function () {
                    $("#newsbundle_codepost_texte").val(editor.getValue());
                });
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode("ace/mode/java");

                editor.getSession().on('change', function (e) {
                    $("#newsbundle_codepost_texte").val(editor.getValue());
                });


                $("#newsbundle_codepost_type").change(function () {
                    editor.getSession().setMode("ace/mode/" + $(this).val())

                });

            </script>

        {% endblock %}