<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}Kipskool{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block link %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/themes.css') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->

        <script src="/web/js/vendor/modernizr-3.3.1.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        {% block javascripts %}{% endblock %}


    <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->

            {#<script src="/web/js/vendor/jquery-2.2.4.min.js"></script>#}
            {#<script src="/web/js/vendor/bootstrap.min.js"></script>#}

            {#<script src="/web/js/plugins.js"></script>#}
            {#<script src="/web/js/app.js"></script>#}




    <!-- Load and execute javascript code used only in this page -->
           <script src="/web/js/pages/appSocial.js"></script>
           <script>$(function(){ AppSocial.init(); });</script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/admin-lte/bootstrap/js/bootstrap.js') }}"
    </body>

</html>
