<ul class="nav navbar-nav-custom pull-right" >
    <!-- Search Form -->
    <li>
        <form action="" method="post" class="navbar-form-custom">
            <input type="text" id="rechercher" name="top-search" class="form-control"
                   placeholder="Rechercher une personne..">
        </form>
        <div class="block-section" style="position: absolute; background-color: white">
            <ul class="nav-users nav-users-online" id="listeResultat" style="width: 200px">

            </ul>
        </div>

    </li>

    <li>
        <a>Bienvenue {% if app.user %}{{ app.user.username }}{% else %}Etranger{% endif %} !</a>
    </li>


    <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if app.user.avatar %}
            <img src="{{ vich_uploader_asset(app.user, 'avatar')|imagine_filter('avatar_mini2') }}">
                    {% else %}
                        <img src="{{ asset('media/cache/avatar_mini2/images/perso/avatar/chaton.jpg') }}">
                    {% endif %}
            {% else %}
            <img src="img/placeholders/avatars/avatar9.jpg" alt="avatar">
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                {% if is_granted('ROLE_ADMIN') %}
                <strong>ADMINISTRATEUR</strong>
                {%  elseif is_granted('ROLE_STAFF') %}
                <strong>STAFF</strong>
                {%  elseif is_granted('ROLE_FORMATEUR') %}
                <strong>FORMATEUR</strong>
                {% elseif is_granted('ROLE_DELEGUE') %}
                <strong>ETUDIANT DELEGUE</strong>
                {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <strong>ETUDIANT</strong>
                {% else %}
                <strong>INVITE</strong>
                {% endif %}
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>

                <a href="{{ path('perso_edit', {'perso_id': app.user.id}) }}" onclick="App.sidebar('toggle-sidebar-alt');">
                    <i class="gi gi-settings fa-fw pull-right"></i>
                    Editer son profil
                </a>

            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}">
                    <i class="gi gi-lock fa-fw pull-right"></i>
                    Administration
                </a>
            </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off fa-fw pull-right"></i>
                    Log out
                </a>
            </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-power-off fa-fw pull-right"></i>
                            Log in
                        </a>
                    </li>
            {% endif %}
        </ul>
    </li>


</ul>