{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ ecole.nom }}</h1>
    <table>
{% for article in ecole.articles %}
    <tr>
        <td>{{ article.titre }}~~</td>
        <td>{{ article.texte }}~~</td>
        <td>{{ article.createdAt|date("d/m/Y") }}</td>
    </tr>
{% endfor %}
    </table>
<h2>{{ ecole.nom }} Editor</h2>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% endblock %}