{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ ecole.nom }}</h1>
    <table>
        <td><a href="{{ path('admin_ecole', {'ecole_id': ecole.id}) }}">Ecole</a>~~</td>
        <td><a href="{{ path('admin_promo', {'ecole_id': ecole.id}) }}">Promo</a>~~</td>
        <td><a href="">Perso</a>~~</td>
        <td><a href="{{ path('ecole_show', {'ecole_id': ecole.id}) }}">back to {{ ecole.nom }} view</a></td>
    </table>
    <br><br>
    <table>
{% for article in ecole.articles %}
    <tr>
        <td>{{ article.titre }}~~</td>
        <td>{{ article.texte }}~~</td>
        <td>{{ article.createdAt|date("d/m/Y") }}~~</td>
        <td><a href="{{ path('admin_article_edit', {'article_id': article.id}) }}">Edite /</a></td>
        <td><a href="{{ path('admin_article_delete', {'article_id': article.id}) }}"> Delete</a></td>
    </tr>
{% endfor %}
    </table>
    <br><br><br>
<h2>{{ ecole.nom }} Editor</h2>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% endblock %}