{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article_promo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articlePromo.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ articlePromo.createdAt }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ articlePromo.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ articlePromo.texte }}</td>
            </tr>
            <tr>
                <th>Srcfeature</th>
                <td>{{ articlePromo.srcFeature }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        {% for comment in articlePromo.comments  %}
            <tr>
                <td>{{ comment.texte }}</td>
            </tr>

        {% endfor %}
    </table>
    {% include ':commentaire_article_promo:new.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('promo_show',{'id': promo.id}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articlePromoEdit', {'id': promo.id, 'articlepromo_id': articlePromo.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('article_promo_delete',{'id': promo.id, 'article_promo_id': articlePromo.id }) }}">Delete</a>
        </li>
    </ul>
{% endblock %}