{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article_promo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_promo.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ article_promo.createdAt }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article_promo.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ article_promo.texte }}</td>
            </tr>
            <tr>
                <th>Srcfeature</th>
                <td>{{ article_promo.srcFeature }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        {% for comment in article_promo.comments  %}
            <tr>
                <td>{{ comment.texte }}~~
                    <a href="{{ path('commentaire_delete', {'id': promo.id, 'article_promo_id': article_promo.id, 'commentaire_article_id': comment.id}) }}">Delete</a>~
                    <a href="{{ path('commentaire_article_promo_edit', {'id': promo.id, 'article_promo_id': article_promo.id, 'commentaire_article_id': comment.id }) }}">Edit</a></td>

            </tr>

        {% endfor %}
    </table>
    {% include ':commentaire_article_promo:new.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('promo_show',{'id': promo.id}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_promo_edit', {'id': promo.id, 'article_promo_id': article_promo.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('article_promo_delete',{'id': promo.id, 'article_promo_id': article_promo.id }) }}">Delete</a>
        </li>
    </ul>
{% endblock %}