{% extends 'base.html.twig' %}

{% block body %}
    <h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('sonata_admin_dashboard') }}">ADMIN</a></h1>
    {% endif %}

    <h1>Ecole</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ecole.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ ecole.nom }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ ecole.adresse }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ ecole.ville }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ ecole.pays }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ ecole.description }}</td>
        </tr>
        <tr>
            <th>Link</th>
            <td>{{ ecole.link }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ ecole.mail }}</td>
        </tr>
        </tbody>
    </table>
    <ul>
        <a href="{{ path("addArticle", {"ecole_id":ecole.id}) }}">Ecrire un article</a>
    </ul>
    <table>
        <tr>
            <th></th>
            <th>Titre</th>
            <th>Extrait</th>
            <th>Créé</th>
            <th>Auteur</th>

        </tr>
        {% for article in ecole.articles %}
            <tr>
                <td>
                    {% if article.srcFeature != null %}
                        <img src="{{ vich_uploader_asset(article, 'srcFeature')|imagine_filter('article_thumb') }}" />
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('articleecole_show',{'ecole_id': ecole.id, 'article_ecole_id': article.id}) }}"> {{ article.titre }}</a>
                </td>
                <td>{{ article.texte|raccourci }}</td>
                <td>{{ article.createdAt|date("d/m/Y") }}</td>
                <td><a href="{{ path('perso_show', {'perso_id': article.auteur.id}) }}"> {{ article.auteur.nom }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Promo</th>
            <th>Description</th>
        </tr>
        {% for promo in ecole.promos %}
            <tr>
                <td><a href="{{ path('promo_show', {'ecole_id': ecole.id, 'promo_id': promo.id}) }}">{{ promo.nom }}</a>
                </td>
                <td>{{ promo.description }}</td>
            </tr>
        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('ecole_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
