{% extends 'base.html.twig' %}
{% block body %}
    <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
            type="text/javascript"
            charset="utf-8">
    </script>

    <div id="page-container" class="header-fixed-top " style="width: 100%">

        <!-- Main Container -->
        <div id="main-container">
            <!-- Header -->
            <header class="navbar navbar-inverse navbar-fixed-top">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">

                    <!-- END Main Sidebar Toggle Button -->

                    <!-- Header Link -->
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href="{{ path('ecole_index') }}"><strong>Index</strong></a>
                    </li>
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href="{{ path('ecole_show', {'ecole_id': ecole.id}) }}"><strong>{{ ecole.nom }}</strong></a>
                    </li>
                    {% if article.className == 'Article_promo' %}

                        <li>
                            <a href="{{ path('promo_show', {'promo_id': promo.id}) }}"><strong>{{ promo.nom }}</strong></a>
                        </li>

                    {% elseif article.className == 'ArticlePerso' %}
                        <li>
                            <a href="{{ path('promo_show', {'promo_id': promos.first.id}) }}"><strong>{{ promos.first.nom }}</strong></a>
                        </li>
                    <li>
                        <a href="{{ path('perso_show', {'perso_id': perso.id}) }}"><strong>{{ perso.prenom }} {{ perso.nom }}</strong></a>
                    </li>
                    {% endif %}
                    <!-- END Header Link -->
                </ul>


                {% include 'login_menu.html.twig' %}
                <!-- END Search Form -->

                <!-- END Left Header Navigation -->
            </header>
            <!-- END Header -->
            <div id="page-content" class="inner-sidebar-right">
                <!-- Inner Sidebar -->
                <div id="page-content-sidebar">
                    <!-- Collapsible People List -->
                    <div id="people-nav" class="collapse navbar-collapse remove-padding">
                        <div class="block-section">
                            <h4 class="inner-sidebar-header">
                                <a href="" class="btn btn-effect-ripple btn-xs btn-default pull-right"></a>
                                Promo
                            </h4>
                            <ul class="nav-users nav-users-online">
                                {% if article.className == 'articleEcole' %}
                                    {% include 'liste_promo.html.twig' %}
                                {% elseif article.className == 'Article_promo' %}
                                    {% include 'liste_etudiant_promo.html.twig' %}
                                {% else %}
                                    {% for promo in promos %}

                                        {% include 'liste_etudiant_promo.html.twig' %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                    <!-- END Collapsible People List -->
                </div>
                <!-- END Inner Sidebar -->
                <!-- Static Layout Header -->
                <div class="content-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="header-section">
                                <h1>{{ article.titre }}</h1>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <div class="header-section">
                                <ul class="breadcrumb breadcrumb-top">
                                    <li>Article</li>
                                    <li>{{ article.titre }}</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Static Layout Header -->

                <div class="widget">
                    <div class="widget-content widget-content-mini themed-background-dark text-light-op">
                        <img src="
                {% if article.auteur.avatar != null %}
                {{ vich_uploader_asset(article.auteur, 'avatar')|imagine_filter('avatar_mini2') }}
                {% else %}
                {{ asset('img/LOGO_IMIE_res.jpg')|imagine_filter('avatar_wide2') }}
                {% endif %}
                " class="img-circle img-thumbnail img-thumbnail-avatar pull-left">
                        <a href="{{ path('perso_show', {'perso_id': article.auteur.id}) }}"
                           class="text-light">{{ article.auteur.prenom }} {{ article.auteur.nom }}</a>
                        le {{ article.createdAt|date("d F Y") }}
                        {% if is_granted('ROLE_STAFF') %}
                            <div class="btn-group pull-right">
                                <a href="javascript:void(0)"
                                   class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip "
                                   data-toggle="dropdown" title="" style="overflow: hidden; position: relative;"
                                   data-original-title="Options" aria-expanded="false"><span class="btn-ripple animate"
                                                                                             style="height: 34px; width: 34px; top: -1px; left: 3px;"></span><i
                                            class="fa fa-chevron-down"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        {% if article.className == 'articleEcole' %}
                                            <a href="{{ path('articleecole_edit', {'article_ecole_id': article.id}) }}">
                                                <i class="fa fa-pencil pull-right"></i>
                                                Edit
                                            </a>
                                        {% elseif article.className == 'Article_promo' %}
                                            <a href="{{ path('article_promo_edit', {'article_promo_id': article.id}) }}">
                                                <i class="fa fa-pencil pull-right"></i>
                                                Edit
                                            </a>
                                        {% else %}
                                            <a href="{{ path('articleperso_edit', {'article_perso_id': article.id}) }}">
                                                <i class="fa fa-pencil pull-right"></i>
                                                Edit
                                            </a>
                                        {% endif %}

                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        {% if article.className == 'articleEcole' %}
                                        <a href="{{ path('articleecole_delete', {'article_ecole_id': article.id}) }}">
                                            <i class="fa fa-trash-o fa-fw pull-right"></i>
                                            Delete
                                        </a>
                                        {% elseif article.className == 'Article_promo' %}
                                            <a href="{{ path('article_promo_delete', {'article_promo_id': article.id}) }}">
                                                <i class="fa fa-trash-o fa-fw pull-right"></i>
                                                Delete
                                            </a>
                                        {% else %}
                                            <a href="{{ path('articleperso_delete', {'article_perso_id': article.id}) }}">
                                                <i class="fa fa-trash-o fa-fw pull-right"></i>
                                                Delete
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="widget-content">
                        {% if article.srcFeature %}
                        <img src="{{ vich_uploader_asset(article, 'srcFeature')|imagine_filter('article_image2') }}"
                             class="img-responsive center-block">
                        {% endif %}
                        <h3>{{ article.titre }}</h3>
                        {% if article.type != 'article' %}
                        <div id="editor" style="height: 600px; width: 100%;">{{ article.texte }}</div>
                        {% else %}
                        <p>{{ article.texte }}</p>
                        {% endif %}
                        <div class="push-bit-top">
                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-danger"
                               style="overflow: hidden; position: relative;"><i class="fa fa-heart"></i> Love</a>
                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-primary"
                               style="overflow: hidden; position: relative;"><i class="fa fa-twitter"></i> Tweet</a>
                        </div>
                    </div>
                    {% include ':commentaireAjax:index.html.twig' %}

                </div>

                <!-- END Page Content -->
            </div>
        </div>
    </div>
{% endblock %}
        {% block javascripts %}


            <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript"
                    charset="utf-8"></script>
            {% if article.type != "article" %}
                <script>
                    var editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.getSession().setMode("ace/mode/{{ article.type }}");
                    editor.setReadOnly(true);  // false to make it editable
                </script>
            {% endif %}
            <script language="JavaScript" type="text/javascript">
                var article = {{ article.id }};
                var typeArticle = "{{ article.className }}";
                var roleStaff = false;
                var login = false;
                {% if is_granted('ROLE_STAFF ') %}
                roleStaff = true;

                {% endif %}
            </script>


            <script src="{{ asset('js/commentaire.js') }}"></script>

        {% endblock %}

