{% extends 'base.html.twig' %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <!-- Full Background -->
    <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
    <img src="{{ asset('img/placeholders/layout/login2_full_bg.jpg') }}" alt="Full Background" class="full-bg animation-pulseSlow">
    <!-- END Full Background -->

    <!-- Login Container -->
    <div id="login-container">
        <!-- Login Header -->
        <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
            <i class="fa fa-cube text-light-op" href="iconKip.png"></i>
        </h1>
        <!-- END Login Header -->

        <!-- Login Block -->
        <div class="block animation-fadeInQuick">
            <!-- Login Title -->
            <div class="block-title">
                <h2>Please Login</h2>
            </div>
            <!-- END Login Title -->

            <!-- Login Form -->
            <form id="form-login" action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="form-group">
                    <label for="username" class="col-xs-12">{{ 'security.login.username'|trans }}</label>
                    <div class="col-xs-12">
                        <input type="text" id="username" name="_username" class="form-control"
                               value="{{ last_username }}" placeholder="Your username..." required="required">
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="col-xs-12">{{ 'security.login.password'|trans }}</label>
                    <div class="col-xs-12">
                        <input type="password" id="password" name="_password" class="form-control"
                               placeholder="Your password.." required="required">
                    </div>
                </div>


                <div class="form-group form-actions">
                    <div class="col-xs-8">
                        <label for="remember-me" class="csscheckbox csscheckbox-primary">
                            <input type="checkbox" id="remember-me" name="remember-me" value="on"><span></span>
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>


                    <div class="col-xs-4 text-right">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-effect-ripple btn-sm btn-success"
                                value="{{ 'security.login.submit'|trans }}">Log In</button>
                    </div>


                </div>
            </form>
            <!-- END Login Form -->
        </div>
        <!-- END Login Block -->
    </div>
    <!-- END Login Container -->

    <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
    <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="{{ asset('js/pages/readyLogin.js') }}"></script>
    <script>$(function () {
            ReadyLogin.init();
        });</script>

{% endblock %}
