{% extends 'base.html.twig' %}


{% block body %}
    <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
            type="text/javascript"
            charset="utf-8">

    </script>

    <div id="page-container" class="header-fixed-top sidebar-visible-lg-full" style="width: 100%">

        <!-- Main Container -->
        <div id="main-container">
            <!-- Header -->
            <header class="navbar navbar-inverse navbar-fixed-top">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">

                    <!-- END Main Sidebar Toggle Button -->

                    <!-- Header Link -->
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href="{{ path('ecole_show', {'ecole_id': ecole.id}) }}"><strong>{{ ecole.nom }}</strong></a>
                    </li>

                    <!-- END Header Link -->
                </ul>

                <ul class="nav navbar-nav-custom pull-right">
                    <!-- Search Form -->
                    <li>
                        <form action="" method="post" class="navbar-form-custom">
                            <input type="text" id="top-search" name="top-search" class="form-control"
                                   placeholder="Search..">
                        </form>
                    </li>

                    {% if app.user %}
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('perso_show', {'perso_id': app.user.id}) }}">{{ app.user.username }}</a>
                        </li>
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('perso_edit', {'perso_id': app.user.id}) }}">Editer son profil</a>
                        </li>
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="/logout">logout </a>
                        </li>
                    {% else %}
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="/login">login</a>
                        </li>
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="/register">Register</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('sonata_admin_dashboard') }}">interface admin</a>
                        </li>
                    {% endif %}
                </ul>
                <!-- END Left Header Navigation -->
            </header>
            <!-- END Header -->

            <!-- Page content -->
            <div id="page-content" class="inner-sidebar-right">
                <!-- Inner Sidebar -->
                <div id="page-content-sidebar">
                    <!-- Collapsible People List -->
                    <div id="people-nav" class="collapse navbar-collapse remove-padding">
                        <div class="block-section">
                            <h4 class="inner-sidebar-header">
                                <a href="" class="btn btn-effect-ripple btn-xs btn-default pull-right"></a>
                                Etudiants
                            </h4>
                            <ul class="nav-users nav-users-online">
                                {% for promo in ecole.promos %}
                                    <li>
                                        <a href="{{ path('promo_show', {'promo_id': promo.id}) }}">
                                            {% if promo.avatar != null %}
                                                <img src="{{ vich_uploader_asset(promo,'avatar')|imagine_filter('avatar_mini') }}"
                                                     alt="image" class="nav-users-avatar"/>
                                            {% else %}
                                                <img src="{{ asset('images/perso/avatar/chaton.jpg')|imagine_filter('avatar_mini') }}"
                                                     alt="image" class="nav-users-avatar"/>
                                            {% endif %}
                                            <span class="nav-users-heading">{{ promo.nom }} </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                    <!-- END Collapsible People List -->
                </div>
                <!-- END Inner Sidebar -->

                <!-- Social Net Header -->
                <div class="content-header content-header-media">
                    <div class="header-section">
                        <div class="row">
                            <div class="col-sm-7 col-md-8 col-lg-9 content-float-hor push-bit-top-bottom clearfix">
                                <h1>{{ ecole.nom }}</h1>
                                <h2 class="text-light-op"> {{ ecole.description }}</h2>
                            </div>

                        </div>
                    </div>
                    {% if ecole.avatar != null %}
                        <img src="{{ vich_uploader_asset(ecole,'avatar')|imagine_filter('avatar_mini') }}"
                             alt="image" class="nav-users-avatar"/>
                    {% else %}
                        <img src="{{ asset('img/LOGO_IMIE_res.jpg')|imagine_filter('avatar_mini') }}"
                             alt="Header Image"/>
                    {% endif %}
                </div>
                <!-- END Social Net Header -->


                {% if is_granted('ROLE_STAFF') or (is_granted('ROLE_DELEGUE') and app.user.ecole == ecole) %}
                    <ul class="nav navbar-nav-custom">
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('addArticle', {'ecole_id': ecole.id}) }}" class="">Ecrire un article</a>
                        </li>
                    </ul>
                {% endif %}

                <!-- Social Net Content -->
                <div class="row">
                    <!-- Latest News -->
                    <div class="col-lg-12">
                        <!-- Story -->
                        {% for article_ecole in ecole.articles %}
                            <div class="widget">

                                <div class="widget-content widget-content-mini themed-background-dark text-light-op">
                                    <span class="pull-right text-muted">{{ article_ecole.createdAt|date("d/m/Y") }}</span>
                                    <a href="{{ path('perso_show', {'perso_id': article_ecole.auteur.id}) }}"
                                       class="text-light">{{ article_ecole.auteur }}</a>
                                    posted an Article
                                </div>
                                <div class="widget-content">
                                    <h3>
                                        <a href="{{ path('articleecole_show', {'article_ecole_id': article_ecole.id}) }}">{{ article_ecole.titre }}</a>
                                    </h3>
                                        <p>{{ article_ecole.texte|raccourci }}</p>
                                </div>

                            </div>
                        {% endfor %}
                        <!-- END Story -->
                    </div>
                    <!-- END Latest News -->
                </div>
                <!-- END Social Net Content -->
            </div>
            <!-- END Page Content -->
        </div>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
{% endblock %}
