{% extends 'base.html.twig' %}


{% block body %}
    <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
            type="text/javascript"
            charset="utf-8">

    </script>

    <div id="page-container" class="header-fixed-top" style="width: 100%">

        <!-- Main Container -->
        <div id="main-container" style="margin-left: 0px">
            <!-- Header -->
            <header class="navbar navbar-inverse navbar-fixed-top">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">

                    <!-- END Main Sidebar Toggle Button -->

                    <!-- Header Link -->
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href="{{ path('ecole_index')}}"><strong>Index</strong></a>
                    </li>
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href="{{ path('ecole_show', {'ecole_id': promo.ecole.id}) }}"><strong>{{ promo.ecole.nom }}</strong></a>
                    </li>
                    <li class="hidden-xs animation-fadeInQuick">
                        <a href="page_promo.html.twig"><strong>{{ promo.nom }}</strong></a>
                    </li>

                    <!-- END Header Link -->
                </ul>


                    {% include 'login_menu.html.twig' %}


                <!-- END Left Header Navigation -->
            </header>
            <!-- END Header -->

            <!-- Page content -->
            <div id="page-content" class="inner-sidebar-right">
                <!-- Inner Sidebar -->
                <div id="page-content-sidebar">
                    <!-- Collapsible People List -->
                    <div id="people-nav" class="collapse navbar-collapse remove-padding">
                        <div class="block-section">
                            <h4 class="inner-sidebar-header">
                                <a href="" class="btn btn-effect-ripple btn-xs btn-default pull-right"></a>
                                Etudiants
                            </h4>
                            <ul class="nav-users nav-users-online">
                                {% include 'liste_etudiant_promo.html.twig' %}
                            </ul>
                        </div>

                    </div>
                    <!-- END Collapsible People List -->
                </div>
                <!-- END Inner Sidebar -->

                <!-- Social Net Header -->
                <div class="content-header content-header-media">
                    <div class="header-section">
                        <div class="row">
                            <div class="col-sm-7 col-md-8 col-lg-9 content-float-hor push-bit-top-bottom clearfix">
                                {% if perso.avatar != null %}
                                    <img src="{{ vich_uploader_asset(perso,'avatar')|imagine_filter('avatar_mini') }}"
                                         alt="image" class="img-circle img-thumbnail img-thumbnail-avatar pull-left"/>
                                {% else %}
                                    <img src="{{ asset('media/cache/avatar_mini/images/perso/avatar/chaton.jpg')|imagine_filter('avatar_mini') }}"
                                         alt="image" class="img-circle img-thumbnail img-thumbnail-avatar pull-left"/>
                                {% endif %}
                                <h1>{{ perso.nom }}</h1>
                                <h2 class="text-light-op"> {{ perso.prenom }}</h2>
                                <h2 class="text-light-op">{{ perso.born }}</h2>
                            </div>

                        </div>
                    </div>
                    {% if perso.avatar != null %}
                        <img src="{{ vich_uploader_asset(perso,'avatar')|imagine_filter('avatar_mini') }}"
                             alt="Header Image"/>
                    {% else %}
                        <img src="{{ asset('media/cache/avatar_mini/images/perso/avatar/chaton.jpg')|imagine_filter('avatar_mini') }}"
                             alt="Header Image"/>
                    {% endif %}
                </div>
                <!-- END Social Net Header -->


                {% if app.user == perso %}
                    <ul class="nav navbar-nav-custom">
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('articleperso_new', {'perso_id': perso.id}) }}" class="">Ecrire un article</a>
                        </li>
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('articleperso_new_code', {'perso_id': perso.id}) }}">Poster du code</a>
                        </li>

                    </ul>
                {% endif %}

                <!-- Social Net Content -->
                <div class="row">
                    <!-- Latest News -->
                    <div class="col-lg-12" style="min-height: 900px">
                        <!-- Story -->
                        {% for article_perso in perso.articles %}
                            <div class="widget">

                                <div class="widget-content widget-content-mini themed-background-dark text-light-op">
                                    <span class="pull-right text-muted">{{ article_perso.createdAt|date("d/m/Y") }}</span>
                                    <a href="{{ path('perso_show', {'perso_id': article_perso.auteur.id}) }}"
                                       class="text-light">{{ article_perso.auteur }}</a>
                                    posted an Article
                                </div>
                                <div class="widget-content">
                                    <h3>
                                        <a href="{{ path('articleperso_show', {'article_perso_id': article_perso.id}) }}">{{ article_perso.titre }}</a>
                                    </h3>
                                    {% if article_perso.type != 'article' %}
                                        <p>
                                        <div id="editor{{ loop.index }}"
                                             style="width: 500px; height: 100px">{{ article_perso.texte|raccourci }}</div>
                                        </p>
                                        <script>

                                            var editor{{ loop.index }} = ace.edit("editor{{ loop.index }}");
                                            editor{{ loop.index }}.setTheme("ace/theme/monokai");
                                            editor{{ loop.index }}.getSession().setMode("ace/mode/{{ article_perso.type }}");
                                            editor{{ loop.index }}.setReadOnly(true);  // false to make it editable

                                        </script>
                                    {% else %}
                                        <p>{{ article_perso.texte|raccourci }}</p>
                                    {% endif %}
                                </div>

                            </div>
                        {% endfor %}
                        <!-- END Story -->
                    </div>
                    <!-- END Latest News -->
                </div>
                <!-- END Social Net Content -->
            </div>
            <!-- END Page Content -->
        </div>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
{% endblock %}
