{% extends 'base.html.twig' %}
{% block body %}
<script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
        type="text/javascript"
        charset="utf-8">
</script>

<div id="page-container" class="header-fixed-top " style="width: 100%">

    <!-- Main Container -->
    <div id="main-container">
        <!-- Header -->
        <header class="navbar navbar-inverse navbar-fixed-top">
            <!-- Left Header Navigation -->
            <ul class="nav navbar-nav-custom">

                <!-- END Main Sidebar Toggle Button -->

                <!-- Header Link -->
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="{{ path('ecole_index') }}"><strong>Index</strong></a>
                </li>
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="{{ path('ecole_show', {'ecole_id': promos|first.ecole.id}) }}"><strong>{{ promos|first.ecole.nom }}</strong></a>
                </li>
                <li class="hidden-xs animation-fadeInQuick">
                    <a href="{{ path('promo_show', {'promo_id': promos|first.id}) }}"><strong>{{ promos|first.nom }}</strong></a>
                </li>
                 <li class="hidden-xs animation-fadeInQuick">
                    <a href="{{ path('perso_show', {'perso_id': article.perso.id}) }}"><strong>{{ article.perso.nom }}</strong></a>
                </li>
                <!-- END Header Link -->
            </ul>

            <ul class="nav navbar-nav-custom pull-right">
                <!-- Search Form -->
                <li>
                    <form action="" method="post" class="navbar-form-custom">
                        <input type="text" id="top-search" name="top-search" class="form-control"
                               placeholder="Search..">
                    </form>
                </li>
                {% include 'login_menu.html.twig' %}
                <!-- END Search Form -->
            </ul>
            <!-- END Left Header Navigation -->
        </header>
        <!-- END Header -->
        <div id="page-content" class="inner-sidebar-right">
            <!-- Inner Sidebar -->
            <div id="page-content-sidebar">
                <!-- Collapsible People List -->
                <div id="people-nav" class="collapse navbar-collapse remove-padding">
                    <div class="block-section">
                        <h4 class="inner-sidebar-header">
                            <a href="" class="btn btn-effect-ripple btn-xs btn-default pull-right"></a>
                            Promo
                        </h4>
                        <ul class="nav-users nav-users-online">
                            {% for promo in promos %}
                            {% for perso in promo.persos %}
                            <li>
                            <a href="{{ path('perso_show', {'perso_id': perso.id}) }}">
                            {% if perso.avatar != null %}
                            <img src="{{ vich_uploader_asset(perso,'avatar')|imagine_filter('avatar_mini') }}"
                            alt="image" class="nav-users-avatar"/>
                            {% else %}
                            <img src="{{ asset('images/perso/avatar/chaton.jpg')|imagine_filter('avatar_mini') }}"
                            alt="image" class="nav-users-avatar"/>
                            {% endif %}
                            <span class="nav-users-heading">{{ perso.nom }} </span>
                            </a>
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <!-- END Collapsible People List -->
            </div>
            <!-- END Inner Sidebar -->
            <!-- Static Layout Header -->
            <div class="content-header">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="header-section">
                            <h1>{{ article.perso.nom }}</h1>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <div class="header-section">
                            <ul class="breadcrumb breadcrumb-top">
                                <li>Article</li>
                                <li>{{ article.titre }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Static Layout Header -->

            <!-- Demo Article -->
            <div class="block full">
                <div class="block-title text-center">
                    <h2>{{ article.titre }}</h2>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
                        <article style="min-height: 800px">
                            <div class="text-center">
                                {% if article.auteur.avatar != null %}
                                    <img src="{{ vich_uploader_asset(article.auteur,'avatar')|imagine_filter('avatar_mini') }}"
                                         alt="image" class="img-circle"/>
                                {% else %}
                                    <img src="{{ asset('images/perso/avatar/chaton.jpg')|imagine_filter('avatar_mini') }}"
                                         alt="image" class="img-circle"/>
                                {% endif %}

                                <h3 class="sub-header text-right">
                                    <a href="{{ path('perso_show', {'perso_id': article.auteur.id}) }}"
                                       class="pull-left"><strong>{{ article.auteur.nom }}</strong></a>
                                    <small class="text-muted"><em>{{ article.createdAt|date('d-m-Y') }}</em></small>
                                </h3>

                                {% if article.srcFeature !=null %}
                                    <img src="{{ vich_uploader_asset(article.srcFeature, 'srcFeature')|imagine_filter('article_image') }}"
                                         alt="image" class="img-responsive center-block">
                                {% endif %}

                                {% if article.type != 'article' %}
                                    <p>
                                    <div id="editor{{ loop.index }}"
                                         style="width: 500px; height: 100px">{{ article.texte }}</div>
                                    </p>
                                    <script>

                                        var editor{{ loop.index }} = ace.edit("editor{{ loop.index }}");
                                        editor{{ loop.index }}.setTheme("ace/theme/monokai");
                                        editor{{ loop.index }}.getSession().setMode("ace/mode/{{ article.type }}");
                                        editor{{ loop.index }}.setReadOnly(true);  // false to make it editable

                                    </script>
                                {% else %}
                                    <p>{{ article.texte }}</p>
                                {% endif %}
                            </div>
                            <div class="widget-content themed-background-muted">
                                <ul class="media-list push">
                                    <li class="media">
                                    {% include ':commentaireAjax:index.html.twig' %}
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <!-- END Demo Article -->
        </div>
        <!-- END Page Content -->
        {% endblock %}
        {% block javascripts %}

            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript"
                    charset="utf-8"></script>
            {% if article.type != "article" %}
            <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode("ace/mode/java");
                editor.setReadOnly(true);  // false to make it editable
            </script>
            {% endif %}
            <script language="JavaScript" type="text/javascript">
                var article = {{ article.id }};
                var typeArticle = "{{ article.className }}";
            </script>


            <script src="{{ asset('js/commentaire.js') }}"></script>
        {% endblock %}