{% extends 'base.html.twig' %}

{% block body %}

    <script src="{{ asset('assets/vendor/ace-builds/src-min-noconflict/ace.js') }}"
            type="text/javascript"
            charset="utf-8">

    </script>

    <ul>
        <li><a href="{{ path('ecole_show', {'ecole_id': promo.ecole.id}) }}">{{ promo.ecole.nom }}</a></li>
        <li><a href="{{ path('promo_show', {'promo_id': promo.id}) }}">{{ promo.nom }}</a></li>
    </ul>
    <h1>Perso</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ perso.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ perso.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ perso.prenom }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ perso.Email }}</td>
        </tr>
        <tr>
            <th>Born</th>
            <td>{{ perso.born|date('d-m-Y') }}</td>
        </tr>

        </tbody>
    </table>


{% if app.user.id==perso.id %}
    <ul>
        <li>
            <a href="{{ path('articleperso_new', { 'perso_id' : perso.id} ) }}">Ajouter un article</a>
        </li>
        <li>
            <a href="{{ path('articleperso_new_code', {'perso_id': perso.id}) }}">Poster du code</a>
        </li>
    </ul>
{% endif %}
    <table>
        <tr>
            <th>créé le :</th>
            <th>titre</th>
            <th>texte</th>
            <th>auteur</th>
        </tr>
        {% for article in perso.articles %}

            <tr>
                <td>{{ article.createdAt|date("d-m-Y") }}</td>
                <td>
                    <a href="{{ path('articleperso_show', {'article_perso_id': article.id, 'perso_id': perso.id}) }}">{{ article.titre }}</a>
                </td>
                {% if article.type != null %}
                    <td>

                    <div id="editor{{ loop.index }}" style="width: 500px; height: 100px">{{ article.texte }}</div>
                    </td>
                    <script>

                            var editor{{ loop.index }} = ace.edit("editor{{ loop.index }}");
                            editor{{ loop.index }}.setTheme("ace/theme/monokai");
                            editor{{ loop.index }}.getSession().setMode("ace/mode/{{ article.type }}");
                            editor{{ loop.index }}.setReadOnly(true);  // false to make it editable


                    </script>


                {% else %}
                    <td>{{ article.texte|raccourci }}</td>
                {% endif %}

                <td><a href="{{ path('perso_show', {'perso_id': article.auteur.id}) }}"> {{ article.auteur.nom }}</a>
                </td>

            </tr>
        {% endfor %}
    </table>


{% endblock %}
{% block javascripts %}


{% endblock %}
