{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire_article_promos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire_article_promo in commentaire_article_promos %}
            <tr>
                <td><a href="{{ path('commentaire_article_promo_show', { 'id': commentaire_article_promo.id }) }}">{{ commentaire_article_promo.id }}</a></td>
                <td>{{ commentaire_article_promo.texte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentaire_article_promo_show', { 'id': commentaire_article_promo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commentaire_article_promo_edit', { 'id': commentaire_article_promo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaire_article_promo_new') }}">Create a new commentaire_article_promo</a>
        </li>
    </ul>
{% endblock %}
